
.body
{
	margin-top: 10%;
	margin-left: 33%;
	height: 100%;
	margin-right: 33%;
}

.searchIdPass
{
	margin-left: 35%
}

body
{
	background-image: url("desktop.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}


.main-font1{
   font-family: 'Product Sans', Arial, sans-serif;
   color : #0080c0;
   font-size: 55px;
   margin-left: 70px;
}

.main-font2{
   font-family: 'Product Sans', Arial, sans-serif;
   color : #E64A19;
   font-size: 50px;
}
.main-font3{
   font-family: 'Product Sans', Arial, sans-serif;
   color : #43A047;
   font-size: 50px;
}
.main-font4{
   font-family: 'Product Sans', Arial, sans-serif;
   color : #F9A825;
   font-size: 50px;
}
.main-font5{
   font-family: 'Product Sans', Arial, sans-serif;
   color : #E64A19;
   font-size: 50px;
}
.main-font6{
   font-family: 'Product Sans', Arial, sans-serif;
   color : #0080c0;
   font-size: 50px;
}
.main-font7{
   font-family: 'Product Sans', Arial, sans-serif;
   color : #43A047;
   font-size: 50px;
}
.main-font8{
   font-family: 'Product Sans', Arial, sans-serif;
   color: #F9A825;
   font-size: 50px;
}
.main-font9{
   font-family: 'Product Sans', Arial, sans-serif;
   color: #0080c0;
   font-size: 50px;
}
.main-font10{
   font-family: 'Product Sans', Arial, sans-serif;
   color : #E64A19;
   font-size: 50px;
} 
.panel-success{
	height: 300px;
}
.success-button{
	width: 200px;
	margin-top: 50px;
	margin-left: 115px;
}

.success-div{
	margin-top: 30px;
}
.success{
	margin-left: 65px;
	font-family:'Nanum Gothic';
	font-size : 30px;
}

.finds-id1{
	margin-left: 65px;
	font-family:'Nanum Gothic';
	font-size : 30px;
}

.finds-id2{	
	font-family:'Nanum Gothic';
	font-size : 30px;
}

.finds-pass1{
	margin-left: 55px;
	font-family:'Nanum Gothic';
	font-size : 25px;
}

.finds-pass2{
	margin-left: 55px;
	font-family:'Nanum Gothic';
	font-size : 25px;
}

.find-button{
	width: 200px;
	margin-top: 30px;
	margin-left: 115px;
}

.success-id{
	margin-left: 10px;
	margin-right: 10px;
	font-family:'Nanum Gothic';
	font-size : 25px;
	color: #0080c0;
}