<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<!-- 별칭설정 -->
		<typeAlias type="kosta.community.model.Board" alias="Board"/>
		<typeAlias type="kosta.community.model.ListModel" alias="ListModel"/>
		<typeAlias type="kosta.community.model.Category" alias="Category"/>
		<typeAlias type="kosta.community.model.Community" alias="Community"/>
		<typeAlias type="kosta.community.model.Search" alias="Search"/>
		<typeAlias type="kosta.community.model.BoardFile" alias="BoardFile"/>
		<typeAlias type="kosta.emp.model.Emp" alias="Emp"/>
		<typeAlias type="kosta.community.model.Reply" alias="Reply"/>
		<typeAlias type="kosta.community.model.ReplyModel" alias="ReplyModel"/>
		<typeAlias type="kosta.community.model.BoardModel" alias="BoardModel"/>
	</typeAliases>
	
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<!-- POOL방식으로 JDBC 연결 -->
				<property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
				<property name="url" value="jdbc:oracle:thin:@localhost:1521:XE"/>
				<property name="username" value="koroupware"/>
				<property name="password" value="1234"/>
			</dataSource>
		</environment>
	</environments>
	
	<mappers>
		<!-- mapper등록 -->
		<mapper resource="kosta/community/mapper/Board.xml"/>
		<mapper resource="kosta/community/mapper/Community.xml"/>
		<mapper resource="kosta/community/mapper/boardFile.xml"/>
		<mapper resource="kosta/community/mapper/Reply.xml"/>
	</mappers>
</configuration>
